<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="icon" href="img/favicon.png" />
<title th:text="#{home.title}">{home.title}</title>
<!-- BOOTSTRAP -->
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet"
	href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid bg-light">
		<div th:replace="template::header">template::header</div>
		<p class="text-center" th:text="#{balance.your.total.is}">{balance.your.total.is}</p>

		<div th:replace="template::footer">template::footer</div>
	</div>

</body>
</html>