<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="icon" href="img/favicon.png" />
<title th:text="#{home.title}">{home.title}</title>
<!-- BOOTSTRAP -->
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet"
	href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
 <body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
	<div class="container-fluid bg-light">
		<div th:replace="template::header">template::header</div>
		<div class="alert-danger">
			<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
	        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
        </div>
        <!--  <a href="index.html" th:href="@{/index.html}">Back to Home Page</a>-->
		<div th:replace="template::footer">template::footer</div>
	</div>

</body>
</html>