<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="icon" href="img/favicon.png" />
<title th:text="#{home.title}">{home.title}</title>
<!-- BOOTSTRAP -->
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet"
	href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid bg-light">
		<div th:replace="template::header">template::header</div>
		
		<div class="alert-danger">
		<p th:if="${loginError}" th:text="#{login.error}">{login.error}</p>
		</div>
		<form th:action="@{/balance}" method="post">
			<div class="form-group">
				<div class="form-control">
					<label th:text="#{login.username}">{login.username}</label>
					<input type="text" name="username"/>
				</div>
				<div class="form-control">
					<label th:text="#{login.password}"> {login.password}</label>
					<input type="password" name="password"/> 
				</div>
				<div class="form-control">
					<input type="submit" value="{login.signin}" th:attr="value=#{login.signin}"/> 
				</div>
			</div>
		</form>

		<div th:replace="template::footer">template::footer</div>
	</div>

</body>
</html>