<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="icon" href="img/favicon.png" />
<title th:text="#{home.title}">{home.title}</title>
<!-- BOOTSTRAP -->
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet"
	href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid bg-light">
		<div th:replace="template::header">template::header</div>
			<div class="form-group">
				<div class="form-control">
					<a class="btn btn-primary" th:href="@{/user}" th:text="#{menu.user}">{menu.user}</a>
				</div>
			</div>
		<div th:replace="template::footer">template::footer</div>
	</div>

</body>
</html>