<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet"
	href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
	<div class="row bg-primary text-white" th:fragment="header">
			<div class="col ">
				<h1 class="text-center" th:text="#{home.title}">
					{home.title}
				</h1>
			</div>
		</div>

		<div class="row bg-secondary text-white" th:fragment="footer">
			<footer>
				<small th:text=#{generic.footer}>{generic.footer}</small>
			</footer>
		</div>
</body>
</html>